import 
/* design for Home website */
input:focus{
  border-color:transparent;
  outline:none;
}
.search-input-without-border {
  .rc-select-selection-search-input {
    border: none;
    outline: none;
    background: rgba(255, 0, 0, 0.2);
    width: 100%;
  }
}