
.blue-bottom-border {
    border-bottom: 0px;
    border-bottom-color: #4dc4fd;
    border-bottom-style: solid;
    opacity: 0.7;
}

.blue-bottom-border:hover {
    opacity: 1;
}

.grey-login-border {
    border-bottom: 0px;
    border-color: grey;
    border-bottom-style: solid;
    opacity: 0.7;
}

.grey-login-border:hover {
    opacity: 1;
}
.desktop-nav-menu{
  display: flex
}
.mobile-nav {
  display: none
}
@media only screen and (max-width: 800px) {
.desktop-nav-menu{
  display: none 
}
.mobile-nav {
  display: flex
}
}
.btn {
    @apply font-bold py-2 px-8 rounded;
  }
  
  .btn-blue {
    background-color: #4fc6ff;
    opacity: .7;
    color: white;
  }
  .btn-blue:hover {
    opacity: 1;
  }